@import "tailwindcss";

@theme {
  --color-primary: #0056b3;
  --color-secondary: #f8f9fa;
  --color-dark: #343a40;
  --color-light: #ffffff;
  --font-sans: 'Inter', 'system-ui', 'sans-serif';
}

body {
  @apply antialiased text-gray-800 bg-white;
}